@media (max-width:1110px){
    .description-info p,
    .sam-info p,
    .ben-info p,
    .adam-info p{
        font-size: 1.25em;
    }
.description-info h4,
.sam-info h5,
.ben-info h5,
.adam-info h5{
    font-size: 2.5em;
    top: 10px;
    margin-bottom: 10px;
}
.description-info h4{
    margin-top: 10%;
}

}


@media (max-width:920px) {
    .contacto-contenedor{
        grid-template-columns: 100%;

    }
    .description-info h4,
.sam-info h5,
.ben-info h5,
.adam-info h5{
    font-size: 1.875em;
    top: 10px;
    margin-bottom: 10px;

}
.description-info p,
    .sam-info p,
    .ben-info p,
    .adam-info p{
        font-size: 1em;
    }
}

@media  (max-width:815px) {
    #description{
        grid-template-columns: 100%;
        
    }

    
    .sam,
    .ben,
    .adam{
        grid-template-columns: 100%;
        grid-template-rows: max-content;
    }
    .sam-img,
    .adam-img {
        grid-column: 1;
        justify-content: center;
        display: inline-flex;
    }
    .sam-info,
    .adam-info,
    .ben-info {
        
        justify-content: center;
        text-align: center;
        width: 100%;
        grid-column: 1;
       

    }
    .description-info {
        grid-column: 1;
        height: fit-content;
        justify-content: center;
        text-align: center;
    }
    .ben-img{
        justify-content: center;
        display: inline-flex;
        grid-row: 2/2;
    }
}