@media (max-width:1110px){
    .description-info p,
    .sam-info p,
    .ben-info p,
    .adam-info p{
        font-size: 1.25em;
    }
.description-info h4,
.sam-info h5,
.ben-info h5,
.adam-info h5{
    font-size: 2.5em;
    top: 10px;
    margin-bottom: 10px;
}
.description-info h4{
    margin-top: 10%;
}

}


@media (max-width:920px) {
    .contacto-contenedor{
        grid-template-columns: 100%;

    }
    .description-info h4,
.sam-info h5,
.ben-info h5,
.adam-info h5{
    font-size: 1.875em;
    top: 10px;
    margin-bottom: 10px;

}
.description-info p,
    .sam-info p,
    .ben-info p,
    .adam-info p{
        font-size: 1em;
    }
}

@media  (max-width:815px) {
    #description{
        grid-template-columns: 100%;
        
    }

    
    .sam,
    .ben,
    .adam{
        grid-template-columns: 100%;
        grid-template-rows: max-content;
    }
    .sam-img,
    .adam-img {
        grid-column: 1;
        justify-content: center;
        display: inline-flex;
    }
    .sam-info,
    .adam-info,
    .ben-info {
        
        justify-content: center;
        text-align: center;
        width: 100%;
        grid-column: 1;
       

    }
    .description-info {
        grid-column: 1;
        height: fit-content;
        justify-content: center;
        text-align: center;
    }
    .ben-img{
        justify-content: center;
        display: inline-flex;
        grid-row: 2/2;
    }
    .formulario-enviar input{
        padding: 10px;
        width: auto;
    }
    .textarea{
        height: 20px;
    }
    .contacto-listas{
        gap: 15px;
    }

    .nav-list{
        display: none;
    }

    /* navbar burguer*/

    .nav-list {
        position: absolute;
        top: 93px;
        left: 0;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: #0B1D26;
        
        border-top: 0;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
      }
    
      .nav-list a {
        font-size: 18px;
        color: white;
      }
    
      .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
      }
      
      
      
      #menu-toggle:checked + .nav-list {
        display: flex;
      }
    .sam-img img,
    .ben-img img,
    .adam-img img{
        width: 100%;
        height: 100%;
     
    }


    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:500px){
    .anuncio-importante a{
        font-size: 15px;
    }
    .carousel-item p{
        font-size: 16px;
    }
    .separador-img{
        height: 100px;
    }
}
@media (max-width:360px){
    .anuncio-importante a {
        font-size: 12px;
    }
    
}