@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;400&display=swap');

:root{
    --navbar: #213041;
    --background: #0B1D26;
    --blanco: #f3f4f6;
    --amarillo: #f4a746;
    --border: #000113;
    --nebulalogo: #6fbce6;
    --negro: #000000;
    font-family: montserrat;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.header{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    background: rgb(33,48,65);
    background: linear-gradient(183deg, rgba(33,48,65,1) 0%, rgba(0,0,10,1) 25%);
    
}

.navbar,
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}    

.logo img {
    height: 60px;
    width: auto;
    
}

.nav-list li a{
    color: var(--blanco);
    text-decoration: none;
   
}

#description{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    background-color: var(--background);
    grid-gap: 10px;
}

.description-img img{
    width: 100%;
    
}



.bannerss7{
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    
}

.bannerss7 img {
    width: 100%;
   
}

.banner-text p{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: var(--blanco);
    top: 50px;
    
    text-shadow: #6fbce6 0 0 20px;
    
}

.banner-text img{
    width: 49px;
    margin-top: -17px;
    position: relative;
    margin-left: 7px;
}


.nebula-logo{
    margin-left: 10px;
    bottom: -10px;
    margin-right: 10px;
    position: relative;
}

.banner-text span{
    font-family: Raleway;
    font-weight: 100;
    letter-spacing: 2px;
   

}

.banner-text{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-start;
    font-size: 40px;
    
    
}

.banner-text a{
    text-decoration: none;
    color: var(--blanco);
}

.description-info{
    grid-column: 2/2;
    height: 460px;
    
    
}

.description-info p,
.sam-info p,
.ben-info p,
.adam-info p{
    font-size: 25px;
    letter-spacing: 2px;
    padding: 10px;
    
    color: var(--blanco);
    line-height: 140%;
    
}

.description-info h4,
.sam-info h5,
.ben-info h5,
.adam-info h5{
    font-size: 50px;
    bottom: 30px;
    color: var(--blanco);
    font-weight: 800;
    margin-bottom: 24px;
}

.sam,
.ben,
.adam{
    
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.sam-img{
    
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/2;
    display: inline;

}

.sam-info,
.adam-info{
    grid-column: 1/2;
    color: var(--blanco);
    grid-row: 1;
    text-align: end;

}
.sam-info h5,
.ben-info h5,
.adam-info h5{
    text-align: center;
}

.sam-info p{
    padding-right: 10px;
}

#presentadores,
#carousel{
    background-color: var(--background);
}



.ben-img img,
.adam-img img,
.sam-img img{
    width: 400px;
    height: 400px;
}

.ben-img{
    display: flex;
    justify-content: end;
    
   
}

.adam-img{
    display: flex;
    justify-content: start;
    grid-column: 2/2;
}

.adam{
    padding-bottom: 50px;
}

.anuncio-importante{
    width: 100%;
    background-color: var(--nebulalogo);
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.anuncio-importante a{
   display: flex;
    font-size: 20px;
    text-decoration: none;
    color: var(--blanco);
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
}

.nav-list a{
    
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: var(--blanco);
    padding: 10px;
    margin: 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 15px;
}
.nav-list a:hover {
    color: var(--negro);
    box-shadow: inset 200px 0 0 0 #54b3d6;
    font-weight: bold;
}
      


.separador-img{
    width: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    height: 140px;
}






/* carousel*/


.carousel {
    position: relative;
  
    padding-top: 26px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: auto;
    
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}



/*footer*/


      
   
